* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}
/* } Navbar Design*/
.navbar {
    max-width: 1600px;
    padding: 24px 200px;
    border-bottom: 1px solid rgba(67, 37, 103, 1);
    margin: 0 auto;
    
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}   
        /* Logo */
.logo {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;    
}
.logo span {
    background: linear-gradient( rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
     /* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    gap: 32px; 
}
.hamburger {
    display: none;
    width: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu li a {
    
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
}
    /* button */
.Subscribe-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(47deg,
      rgb(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1));
}
 /* Banner section  */
.banner-image {
    position: relative;
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    
}
.banner-image .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;     
    display: block;
}
.banner-image .circle {
    position: absolute;     
    top: 35%;               
    left: 50%;              
    transform: translate(-50%, -50%); 
    width: 350px;           
    height: 350px;
}

 .circle {
    position: relative;
    /* display: inline-block; */
    width: 350px;
    height: 350px;
}


.circle .icon {
    position: absolute;
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%); 
                
}
.new-badge {
    position: absolute;
    top: 11%;
    right: 8%;
    transform: translate(15%, -15%);
    z-index: 5;
}
.badge {
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    font-weight: 600;
}


















/* responsive codes */
@media screen and (max-width:576px) {
    .navbar {
        padding: 18px 20px;
    }

    .menu,
    .Subscribe-btn {
        display: none;
    }
    .hamburger {
        display: block;
    }
    /* Banner */
     .banner-image {
        position: relative;
        min-height: 300px;
        
    }
    .circle {
        position: absolute;        
        width: 200px;
        height: 200px;
        top: 30%;               
        left: 40%;              
        transform: translate(-50%, -50%);
        
    }
    
    .circle .icon {
    position: absolute;
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%);    
     
    /* NEW badge position*/
    .new-badge {
        top: 10%;
        right: 6%;
        transform: translate(18%, -28%);
    }

    .badge {
        font-size: 11px;
        padding: 3px 8px;
    }



    /* Text alignment (mobile-friendly) */
    /* .banner-container h1 {
        font-size: 32px;
        text-align: center;
        margin-top: 20px;
    }

    .banner-text {
        font-size: 14px;
        text-align: center;
        padding: 0 20px;
    }

    .banner-actions {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        margin-top: 20px;
    } */
   
}



    
    
    
    
    
    
    
    
